.buttonsContainer {
  display: flex;
  gap: 0.75em;
}

.button {
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #000;
  box-shadow: 3px 3px 6px #0000001c;

  cursor: pointer;

  padding: 0.5em 0.75em;

  transition: all 250ms ease-in-out;
  letter-spacing: 1px;
}

.button:hover {
  background-color: #6076ff;
  color: #fff;
  border-color: #6076ff;
}
